html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'roboto', 'helvetica', 'arial', 'sans';
  font-weight: 300;
}

p {
  font-size: 1.1em;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 8em;
    font-weight: 300;
  }

  h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.25em;
    font-weight: 300;
  }

  h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 300;
  }

  .about img {
    position: relative;
    max-width: 500px;
    float: left;
    padding: 0 20px 0 0;
  }

  .noimage {
    padding-left: 0px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    font-weight: 300;
  }

  h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
  }

  h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
  }

  .about img {
    position: relative;
    width: 100%;
    max-width: 500px;
    float: left;
    padding: 0px 0px 10px;
  }

  p, ul {
    font-size: .9em;
  }

  .wrap {
    padding: 0 25px;
  }
}

a {
  color: #36384C;
  font-family: 'Oswald', sans-serif;
}

a:hover {
  background-color: #EBA966;
  color: white;
}

.active {
  background-color: #36384C;
  color: white;
}

#container {
  height: auto;
}

.header {
  color: #000;
  margin-top: 50px;
}

.header h1 {
  position: relative;
  left: 0%;
  width: 100%;
  text-align: center;
  margin: 0px;
}

.header h2 {
  position: relative;
  width: 60%;
  float: right;
  right: -6px;
  text-align: left;
  border: 3px solid #EBA966;
  padding: 5px 0 5px 20px;
}

.triangle {
  position: absolute;
  width: 0%;
  border-style: solid;
  border-width: 400px 650px 0 0;
  border-color: #C55F4E transparent transparent transparent;
  float: left;
}

.nav {
  padding-right: 0px;
}

.nav a {
  position: relative;
  float: right;
  padding: 20px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.assignheader {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.assignheader h3 {
  margin-top: 80px;
  margin-bottom: 10px;
}

.assignheader a {
  color: #000;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  padding: 7px 7px;
}

.assignheader a:hover {
  background: #EBA966;
  color: white;
  text-decoration: none;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 13px;
  vertical-align: middle;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.assignments {
  background-color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  float: left;
  width: 100%;
  margin: 70px auto;
}

.assignment {
  font-size: 1em;
  line-height: 24px;
  padding: 20px 20px 20px 30px;
  float: left;
}

.assignment h3 {
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 250px;
  line-height: 1em;
}

.assignment a {
  color: #000;
  text-decoration: none;
}

.assignment a:hover {
  background: #C55F4E;
  color: #C55F4E;
  text-decoration: none;
}

.footer {
  width: 1100px;
  float: left;
  padding: 300px 0px 30px 30px;
}

.widebody {
  width: 800px;
  padding: 0px 30px 30px 30px;
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}

/* About me */
.about {
  float: left;
  margin: 0 auto;
  width: 100%;
}

.wrap {
  position: relative;
  width: 450px;
}

.wrap h4 {
  margin: 10px auto;
}

.about a {
  font-family: 'roboto', 'helvetica', 'arial', 'sans';
  text-decoration: none;
  background: #EBA966;
  color: white;
}

.about a:hover {
  font-family: 'roboto', 'helvetica', 'arial', 'sans';
  text-decoration: none;
  background: #C55F4E;
  color: white;
}

.noimage {
  position: relative;
  width: 350px;
  min-height: 300px;
  background: #EBA966;
}

.noimage h4 {
  position: relative;
  font-size: 2.4em;
  width: 100%;
  line-height: 100%;
  top: 20px;
  text-align: center;
}

.about .assignments {
  position: relative;
  float: left;
  margin: 10px 0;
  padding: 0px;
}

.about .assignment {
  position: relative;
  float: left;
  padding: 10px;
}

.about ul {
  position: relative;
  top: 0px;
}

.subtitle {
  position: relative;
  float: left;
  text-align: left;
  width: 100%;
  padding-left: 20px;
}

/* Assignments Page */
.assignmentspage {
  background-color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  float: left;
  width: 100%;
  margin: 150px auto 0px;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.main img {
  width: 60%;
  position: relative;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
  padding: 0 10%;
  background: #EBA966;
}

.container h3 {
  font-size: 1.5em;
}

.container a {
  color: #36384C;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
}

.container a:hover {
  background: #36384C;
  color: white;
}

.container .assignment {
  border: 3px solid #36384C;
  width: 70%;
  margin: 0 auto 20px;
}

.container .assignment img {
  width: 70%;
}

.container .assignment .inspo img {
  width: 120%
}

.container .assignment .icon img {
  width: 100px;
}